*{
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*barra de navegacion*/

nav{
    background: white;
    height: 90px;
    width: 100%;
    position: fixed;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #0171c2;
    transition: .5s;
    border-radius: 25px;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #0171c2;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0171c2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}



/*Galeria*/
.texto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    align-items: center;
}
.texto h2 p{
    transition: 0.3s;
    width: clamp(300px, 50%, 100px);
    height: 60%;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    border: gray 1px solid;
    margin-bottom: 30px;
    padding: 25px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
