*{
    padding: 0;
    margin: 0;
}
/*barra de navegacion*/

nav{
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.enlace{
    position: fixed;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    background: green;
    transition: .5s;
    border-radius: 25px;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: yellow;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*Portada*/
.portada-1{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    filter: brightness(40%);
    z-index: -1;
}
.header pre{
    color: white;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
}

/*Bienvenida*/
#bienvenida{
    background-color: white;
}