*{
    margin: 0;
    padding: 0;
}
/*barra de navegacion*/
nav{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #000924;
}
.enlace{
    position: fixed;
    justify-content: center;
    padding: 25px 130px;
    margin-left: 50px;
}
.logo{
    height: 70px;
}
nav ul{
    text-align: center;
    margin-top: 8px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    border-bottom: 1px solid white;
    transition: .2s;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: yellow;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }

}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}

