*{
    margin: 0;
    padding: 0;
}
/*barra de navegacion*/
.section-1{
    height: 100px;
}
nav{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
}
.enlace{
    position: fixed;
    justify-content: center;
    padding: 25px 100px;
    margin-left: 20px;
}
.logo{
    height: 70px;
}
nav ul{
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    border-bottom: 3px solid#0098d9;
    transition: .2s;
    color: #0098d9;
}
.checkbtn{
    font-size: 30px;
    color: #0098d9;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul{
        text-align: center;
    }
    nav ul li a {
        font-size: 16px;
    }

}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000924;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul{
        text-align: center;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}
 
/*Portada */
#portada{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
    align-items: center;
}
.texto-principal{
    margin-top: 15%;
    justify-content: center;
    align-items: center;
}
.txt-principal{
    display: flex;
    align-items: center;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 29ch;
    animation: typing 4s steps(29),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing{
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent}
}