*{
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*barra de navegacion*/

nav{
    background: white;
    height: 90px;
    width: 100%;
    position: fixed;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #0171c2;
    transition: .5s;
    border-radius: 25px;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #0171c2;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0171c2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*Portada*/
.portada{
    text-align: center;
}
.img-portada{
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  margin-top: 80px;
}

/*Seccion de Nosotros*/
.txt{
    text-align: center;
    margin-top: 70px;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
    font-size: 45px;
}
.nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    align-items: center;
}
 .card-servicio{
    transition: 0.3s;
    width: clamp(300px, 50%, 100px);
    height: 60%;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    border: gray 1px solid;
    margin-bottom: 30px;
    padding: 25px;
}
 .card-servicio img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.texto-servicio p{
    color: gray;
}

.comprometidos-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: auto;
    align-items: center;
}

.img-slider{
    transition: 0.3s;
    width: clamp(500px, 50%, 100px);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.img-slider img{
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.descripcion-slider{
    transition: 0.3s;
    width: clamp(300px, 80%, 100px);
    text-align: left;
    margin: 10px;
    border-radius: 5px;
    border: gray 1px solid;
    padding: 10px;
}
/*Seccion acerca de*/
.acerca-de-nosotros{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.acerca-de-nosotros img{
    margin-top: 200px;
    width: 40%;
    margin-bottom: 300px;
    margin-left: 150px;
    float: left;
}
.acerca-de {
    position: relative;
    margin-top: 90px;
    color: white;
    background-color: #0171c2;
    border-radius: 10px;
    width: clamp(300px, 50%, 100px);
    height: 50%;
    text-align: left;
    padding: 15px;
    margin-left: 200PX;
}
.acerca-de h4{
    color: black;
    background-color: white;
    width: 200px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}
.acerca-de h4:hover{
    color: #0171c2;
    cursor: pointer;
}

/*Seccion de Servicios*/
.txt2{
    text-align: center;
    margin-top: 80px;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
    background-color: rgb(246 248 247);
    padding: 10px;
    font-size: 45px;
}
.link-galeria{
    color: white;
}
#servicios-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(246 248 247);
    width: 100%;
    height: auto;
    align-items: center;
}

.services img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.services{
    transition: 0.3s;
    width: clamp(300px, 50%, 100px);
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    border: gray 1px solid;
    padding: 10px;
}

.services h3{
    color: #0171c2;
}

.services1{
    transition: 0.3s;
    width: clamp(300px, 50%, 100px);
    text-align: center;
    margin: 50px;
    background-color: #0171c2;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.services1 img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    text-decoration: underline;
}

.services:hover{
    box-shadow: 0 20px 50px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}

.services1:hover{
    box-shadow: 0 20px 50px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}

hr{
    width: 50%;
    margin: auto;
    height: 3px;
    background-color: orange;
    border: 0 none;
    margin-bottom: 8px;
}

.hr1{
    width: 50%;
    margin: auto;
    height: 3px;
    background-color: white;
    border: 0 none;
    margin-bottom: 8px;
}
/*Seccion de galeria*/

.txt4{
    text-align: center;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
    padding: 20px;
    font-size: 45px;
}

/*Seccion de contacto*/
.txt3{
    text-align: center;
    margin-top: 70px;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
    padding: 20px;
    font-size: 45px;
    background-color: rgb(246 248 247);
}
#contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(246 248 247);
    width: 100%;
    height: auto;
    align-items: center;
}

.info-contacto{
    margin-top: 40px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 50px;
}
.form1{
    margin-top: 40px;
    text-align: left;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 50px;
}
#name{
    width: 300px;
    min-width: 50px;
    border-radius: 2px;
    border: gray solid 1px;
    padding: 3px;
}
textarea {
    margin: 0;
    width: 100%;
    height: 100px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 2px;
    border: gray solid 1px;
    padding: 8px;
  }
#submit{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 14px;
    width: 100%;
    height: 25px;
    background-color: #0171c2;
    color: white;
    border: gray solid 1px;
}
#submit:hover{
    background-color: green;
    color: white;
    border-radius: 4px;
}
.submit-button{
    width: 400px;
    text-align: center;
}
.a-contact{
    color: #0171c2;
}
.a-contact:hover{
    background-color: white;
    color: black;
    padding: 2px;
    border: gray 1px solid;
}
/*Normas de seguridad*/
.txt4{
    text-align: center;
    margin-top: 70px;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
    padding: 20px;
    font-size: 45px;
    background-color:white;
}
#normas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: auto;
    align-items: center;
}
.normas-bioseguridad{
    transition: 0.3s;
    width: clamp(300px, 50%, 100px);
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    border: rgba(215, 215, 215, 0.911) 0.1px solid;
    padding: 10px;
}
/*footer*/
.pie_pagina{
    text-align: left;
}
.footer img{
    width: 150px;
}
