*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*barra de navegacion*/

nav{
    background: white;
    height: 90px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    margin-left: 50px;
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #0171c2;
    transition: .5s;
    border-radius: 25px;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #0171c2;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0171c2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*Portada*/
.portada {
    background-image: url(/img/vidrio2.jpeg);
    background-size: cover;
    overflow: hidden;
    height: 87.8vh;
    width: 100%;
}
.portada .primer-titulo{
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-top: 200px;
    margin-left: 180px;
}

.portada .segundo-titulo{
    position: absolute;
    margin-top: 500px;
    margin-left: 1150px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #0171c2;
    border-radius: 25px;
}

/*Seccion de Nosotros*/
.txt{
    text-align: center;
    margin-top: 70px;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
}
.nosotros{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    height: 375px;
}
 .card-servicio{
    transition: 0.3s;
    width: 20%;
    height: 60%;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    border: gray 1px solid;
}
 .card-servicio img{
    width: 80px;
    height: 80px;
    margin-top: 10%;
    margin-bottom: 20px;
}

.texto-servicio p{
    color: gray;
}

/*Seccion de Servicios*/
.txt2{
    text-align: center;
    margin-top: 70px;
    color: #0171c2;
    text-decoration: underline;
    text-decoration-color: gray;
    background-color: rgb(246 248 247);
    padding: 30px;
}
#servicios-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(246 248 247);
    width: 100%;
}

.services img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.services{
    transition: 0.3s;
    width: 20%;
    height: 30%;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    border: gray 1px solid;
}

.services h3{
    color: #0171c2;
}

.services1{
    transition: 0.3s;
    width: 20%;
    height: 30%;
    text-align: center;
    margin: 50px;
    background-color: #0171c2;
    color: white;
    border-radius: 20px;
}

.services1 img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    text-decoration: underline;
}

.services:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.services1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

hr{
    width: 50%;
    margin: auto;
    height: 3px;
    background-color: orange;
    border: 0 none;
    margin-bottom: 8px;
}

.hr1{
    width: 50%;
    margin: auto;
    height: 3px;
    background-color: white;
    border: 0 none;
    margin-bottom: 8px;
}