body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    margin: 0;
    background-color: #265FC9;
}
a{
    text-decoration: none;
    color: white;
}
.d-flex{
    width: auto;
    height: 8px;
}
.tit{
    color: white;
    background-color: #2547a0;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    margin: 0;
}
.carousel-inner{
    width: 100%;
    height: 400px;
}
.carousel-inner img{
    margin-top: 25px;
}
.whatsapp {
    width: 45px;
    height: auto;
}
hr {
    color: white;
    background-color: white;
    padding: 1px;
    margin: 0;
}
.servicios{
    background-color: #265FC9;
    width: 100%;
    max-width: 2000px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.servicios .card{
    width: 320px;
    height: 430px;
    border-style: 20px;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}
.servicios .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #fcfcfc;
}
.servicios .card img{
    width: 330px;
    height: 220px;
}
.servicios .card h4{
    font-weight: 600;
}
.servicios .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.servicios .card a{
    font-weight: 500;
    text-decoration: none;
    color: blue;
}
.subtitle h1{
    color: white;
    font-size: 60px;
    background-color: #265FC9;
    margin-top: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}