body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    margin: 0;
    background-color: violet;
}
a{
    text-decoration: none;
    color: #265FC9;
}
.encabezado{
    background-color: white;
    padding: 20px;
}
.titulo{
    color: #265FC9;
    float: left;
    margin-top: 15px;
    margin-left: 160px;
}
ul.menu{
    margin-top: 10px;
    margin-left: 500px;
    display: flex;
    list-style: none;
    color: white;
}
ul.menu li{
    color: white;
    float: right;
    border: solid 0px;
    border-radius: 5px;
    width: 15%;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}
a.menu_inicio:hover{
    border-radius: 20px;
    cursor: pointer;
    font-size: small;
    color: white;
    background-color: #265FC9;
    padding: 15px;
}