body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #265FC9;
}
.encabezado{
    background-color: white;
    padding: 20px;
}
.titulo{
    color: #265FC9;
    float: left;
    margin-top: 15px;
    margin-left: 160px;
}
ul.menu{
    margin-left: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    list-style: none;
    color: white;
    font-weight: 600;
}
ul.menu li{
    color: white;
    border-radius: 5px;
    width: 15%;
    margin-top: 15px;
}
a.menu_inicio:hover{
    border-radius: 20px;
    cursor: pointer;
    font-size: small;
    color: white;
    background-color: #265FC9;
    padding: 15px;
}

.img_portada{
    background-image: linear-gradient(rgba(5, 7, 12, 0.459), rgba(238, 238, 238, 0.459)),
     url(/img/trabajos_tierra.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.logo_portada{
    display: block;
    margin: auto;
    z-index: 3;
}