body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.encabezado{
    background-color: #2547a0;
    padding: 20px;
}
.titulo{
    color: #265FC9;
    float: left;
    margin-top: 15px;
    margin-left: 160px;
}
ul.menu{
    margin-left: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    list-style: none;
    color: #265FC9;
    font-weight: 700;
}
ul.menu li{
    color: white;
    border-radius: 5px;
    width: 15%;
    margin-top: 15px;
}
a.menu_inicio:hover{
    border-radius: 20px;
    cursor: pointer;
    font-size: small;
    color: #265FC9;
    background-color: white;
    padding: 15px;
}
.whatsapp{
    width: 34px;
    height: auto;
}
.portada{
    background-color: #265FC9;
    width: 100%;
    height: 100%;
    margin: auto;
}
.portada h1{
    background-color: #2547a0;
    color: white;
    float: right;
    margin-right: 310px;
    font-size: 50px;
    margin: 0;

}
hr {
    color: white;
    background-color: white;
    padding: 1px;
    margin: 0;
}
.slider{
    background-color: #2547a0;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
    margin-left: 200px;
}
.slider img{
    
    float: left;
    width: 900px;
    height: auto;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.slider h1{
    margin-top: 1px;
    color: white;
    float: right;
    margin-right: 250px;
    font-size: 70px;
}
.servicios{
    background-color: black;
    width: 100%;
    max-width: 2000px;
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.servicios .card{
    width: 320px;
    height: 430px;
    border-style: 10px;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
.servicios .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #fcfcfc;
}
.servicios .card img{
    width: 330px;
    height: 220px;
}
.servicios .card h4{
    font-weight: 600;
}
.servicios .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.servicios .card a{
    font-weight: 500;
    text-decoration: none;
    color: blue;
}
.subtitle{
    color: white;
    font-size: 25px;
    background-color: black;
    margin-top: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}